<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form #form="ngForm" class="d-flex my-3" (submit)="getUserName()">
        <input class="form-control me-1" name="search" type="search" #search="ngModel" [(ngModel)]="username" required placeholder="Search by UserName E.g. charles-okunzo" aria-label="Search">
        <button [disabled]="form.invalid" class="btn btn-outline-warning" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
  </div>
</div>

<div class="col-md-8 mx-auto banner" [hidden]="submited">
  <p class="py-5 text-center display-6">Search GitHub Repositories</p>
</div>

<div class="text-center" [hidden]="!submited">
  <h6><span class="text-warning">{{resultsFound}}</span> repositories found</h6>
</div>



<div classm="container-fluid">
  <div class="row">
    <div class="col-md-4 my-3" *ngFor="let repoDetail of repoDetails">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-warning">{{repoDetail.name}}</h5><hr>
          <p class="card-text">{{repoDetail.description}}</p>
          <hr>
          <p class="card-text"><small class="">Last updated {{repoDetail.updated_at | date}}</small> <span title="View repository" class="right"><a class="nav-link text-white" target="_blank" href="{{repoDetail.html_url}}">View Repo <i class="fas fa-link"></i></a></span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>