.boundary{
  border-left: 2px solid #fff;
  /* border-radius: 2%; */
  backdrop-filter: blur(10px);
  /* box-shadow: 5px 5px 5px 5px #80A9AC; */
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  min-height: auto;
}

.boundary::-webkit-scrollbar{
  display: none;
}

hr{
  width: 100%;
}
h1.users{
  position: relative;
}

h1.users::after{
  content: '';
  width: 40vw;
  height: 2px;
  background-color: #FFC22F;
  position: absolute;
  bottom: 0;
  right: 0;
}

.avatar{
  height: 30vh;
  border-radius: 50%;
}

.fa-users{
  color: #FFC22F;
}


input:focus, input{
  background-color: transparent;
  color: #fff;
}

::placeholder{
  background-color: transparent;
  color: #fff;
  
}

.banner{
  background-color: rgba(255, 194, 47,0.2);
}