
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <form #form="ngForm" class="d-flex my-3" (submit)="collectUserName()">
          <input class="form-control me-1" name="search" type="search" #search="ngModel" [(ngModel)]="username" required placeholder="Search by UserName E.g. charles-okunzo" aria-label="Search">
          <button [disabled]="form.invalid" class="btn btn-outline-warning" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-8 mx-auto banner" [hidden]="showResults">
    <p class="py-5 text-center display-6">Search GitHub Users</p>
  </div>


<div class="container" [hidden]="!showResults">
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <!-- <div> -->
        <h1 class="text-white text-center users">User<span class="text-warning">Profile</span></h1>
      <!-- </div> -->
    </div>

    <div class="col-md-6 boundary">
      <div class="text-center mt-5">
        <img src="{{userDetails.avatar_url}}" class="img-fluid avatar" alt="profile pic avatar">
      </div>
      <div class="mt-4">
        <h3 class="pt-2 text-warning">Name:</h3>
        <hr>
        <h4 class="pt-2">{{userDetails.name}}</h4>
      </div>

      <div class="mt-4">
        <h3 class="pt-2 text-warning">UserName:</h3>
        <hr>
        <h4 class="pt-2">{{userDetails.login}}</h4>
      </div>

      <div class="mt-4">
        <h3 class="text-warning">Bio:</h3>
        <hr>
        <p><i>{{userDetails.bio}}</i></p>
      </div>
      <div>
        <h3><a href="{{userDetails.html_url}}" target="_blank" class="nav-link text-white">Visit <span class="text-warning">GitHub</span><i class="fas fa-link"></i></a></h3>
        <hr>
      </div>
      <div class="mt-4 following">
        <h3 class="text-warning">Followers:</h3>
        <hr>
        <span><i class="fas fa-users mx-3"></i> {{userDetails.following}} following</span>
        <span><i class="fas fa-users mx-3"></i> {{userDetails.followers}} followers</span>
      </div>

      <div class="mt-4 pb-5">
        <h3 class="text-warning">Public Repos</h3><hr>
        <p>{{userDetails.public_repos}} repositories</p>
        </div>
    </div>
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>