.boundary{
  border: 2px solid #80A9AC;
  border-radius: 2%;
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 5px 5px #80A9AC;
}

hr{
  width: 100%;
}
h1.users{
  position: relative;
}

h1.users::after{
  content: '';
  width: 40vw;
  height: 0.5vh;
  background-color: #FFC22F;
  position: absolute;
  bottom: 0;
  right: 0;
}

.avatar{
  height: 30vh;
  border-radius: 50%;
}

.fa-users{
  color: #FFC22F;
}